@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    margin: 0em;
    padding: 0em;
    font-size: 15px;
    font-family:Lexend Deca;
    text-align: center;
    background: hsl(233, 47%, 7%);
}
.main-col{
    background: hsl(233, 47%, 7%);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 4em;
    padding: 3em;
   
    
    max-width: 600px;
}
.fist-list{
    width: 100%;
    background: hsl(277, 64%, 61%);
}

img {
    width: 100%;
    opacity: 0.6;
    max-width: 100%;
}
h1 {
    color: white;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
}
h2 {
    color: white;
    font-family: inter;
}

@media only screen and (min-width: 900px) {
    .main-col {
        display: flex;
        max-width: 1080px;
        text-align: left;
        flex-direction: row-reverse;
        margin: 5em;
    }
    .fist-list {
        min-width: 300px;
        
    }
    h1 {
        width: 80%;
        margin: auto;
        margin-bottom: 1em;
    }
    p.main-para {
        width: 80%;
        margin: auto;
        margin-bottom: 3em;
    }

   
    .second-list {
        text-align: left;
        padding: 2em;
        background: hsl(244, 38%, 16%);
        
    }
    .col {
        display: flex;
        flex-basis: 100%;
        padding: 0;
        list-style-type: none;
        width: 80%;
        margin: auto;
    }
    .col p {
        padding-left:0;
        margin-left: 0;
        margin-right: 4em;
    }
    .col h2 {
        padding-left: 0;
    }
   
    .insight {
        color: hsl(277, 64%, 61%);
    }
}


